@model LonghornAirlines.Models.Users.SeedUserModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>SeedUserModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="BDay" class="control-label"></label>
                <input asp-for="BDay" type="date" class="form-control" />
                <span asp-validation-for="BDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvantageNumber" class="control-label"></label>
                <input asp-for="AdvantageNumber" class="form-control" />
                <span asp-validation-for="AdvantageNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZIP" class="control-label"></label>
                <input asp-for="ZIP" class="form-control" />
                <span asp-validation-for="ZIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpType" class="control-label"></label>
                <input asp-for="EmpType" class="form-control" />
                <span asp-validation-for="EmpType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MI" class="control-label"></label>
                <input asp-for="MI" class="form-control" />
                <span asp-validation-for="MI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miles" class="control-label"></label>
                <input asp-for="Miles" class="form-control" />
                <span asp-validation-for="Miles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

