@section imageContent{
    <p>Your reservation has been modified</p>
    <p>Your flights were charged $50.00</p>
    <a asp-action="Description" asp-controller="Reservation" asp-route-id="@ViewBag.ReservationID">Click here to return to reservation</a>
}