@model LonghornAirlines.Models.ViewModels.ManifestViewModel
@section ImageContent{
    <h1>Search for Flight Manifest</h1>
    <hr />
    <h3>Enter the Criteria of the Flight Manifest You're trying to Locate. </h3>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ManifestSearchResults" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Departing City</label>
                    @Html.DropDownList("DepartCityID", (SelectList)ViewBag.AllCities, new { @class = "form-control" })
                    <span asp-validation-for="DepartCityID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Arriving City</label>
                    @Html.DropDownList("ArriveCityID", (SelectList)ViewBag.AllCities, new { @class = "form-control" })
                    <span asp-validation-for="ArriveCityID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Flight Number: <input name="FlightNumber" class="form-control" />
                    <span asp-validation-for="FlightNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Flight Manifest" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to Reports Menu</a>
    </div>

}

