@model LonghornAirlines.Models.ViewModels.ReportsViewModel
@section ImageContent{
    <h1>Generate Report</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="DisplayReport" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Departing City</label>
                    @Html.ListBox("DepartCityID", (MultiSelectList)ViewBag.AllCities, new { @class = "form-control" })
                    <span asp-validation-for="DepartCityID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Arriving City</label>
                    @Html.ListBox("ArriveCityID", (MultiSelectList)ViewBag.AllCities, new { @class = "form-control" })
                    <span asp-validation-for="ArriveCityID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartDate" class="control-label"></label>
                    <input type="date" id="DepartDate" min="2020-04-15" value="ViewBag.Today" max="2020-06-30" asp-for="DepartDate" class="form-control" />
                    <span asp-validation-for="DepartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArriveDate" class="control-label"></label>
                    <input type="date" id="ArriveDate" min="2020-04-15" value="ViewBag.Today" max="2020-06-30" asp-for="ArriveDate" class="form-control" />
                    <span asp-validation-for="ArriveDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span style="display:inline-block; width:20px;"></span><label class="form-check-label"><input class="form-check-input" type="checkbox" asp-for="Economy" />@Html.DisplayNameFor(model => model.Economy)    </label>
                </div>
                <div class="form-group">
                    <span style="display:inline-block; width:20px;"></span><label class="form-check-label"><input class="form-check-input" type="checkbox" asp-for="FirstClass" />@Html.DisplayNameFor(model => model.FirstClass)    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Report" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to Reports Menu</a>
    </div>

}

