@model LonghornAirlines.Models.ViewModels.ReportsViewModel

<h4>Generate Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Departing City</label>
                @Html.ListBox("SelectedDepartCity", (MultiSelectList)ViewBag.AllCities, new { @class = "form-control" })
                <span asp-validation-for="DepartCityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Arriving City</label>
                @Html.ListBox("SelectedArriveCity", (MultiSelectList)ViewBag.AllCities, new { @class = "form-control" })
                <span asp-validation-for="ArriveCityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartDate" class="control-label"></label>
                <input type="date" id="departID" min="2020-04-15" value="ViewBag.Today" max="2020-06-30" asp-for="DepartDate" class="form-control" />
                <span asp-validation-for="DepartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArriveDate" class="control-label"></label>
                <input type="date" id="arriveID" min="2020-04-15" value="ViewBag.Today" max="2020-06-30" asp-for="ArriveDate" class="form-control" />
                <span asp-validation-for="DepartDate" class="text-danger"></span>
            </div>
            @* ADD FIRST CLASS/ECONOMY*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

