@*
    ViewData["Title"] = "Employee Index";
*@
@section imageContent
{
    <h1>Welcome to the Employee Home Page</h1>
    <a class="btn-primary">Create Customer Reservation</a>
    <a class="btn-primary">Manage Reservations</a>
    <a class="btn-primary" asp-action="Index" asp-controller="FlightInfos">Manage Flights</a>
    <a class="btn-primary">Gate Agent Functions</a>
}