@model LonghornAirlines.Models.Business.Flight

@{
    ViewData["Title"] = "Edit Flight";
}
@section imageContent{ 
<h1>Edit Flight</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlightID" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pilot</label>
                @Html.DropDownList("SelectedPilot", (SelectList)ViewBag.Pilots, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">CoPilot</label>
                @Html.DropDownList("SelectedCoPilot", (SelectList)@ViewBag.CoPilots, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Attendant</label>
                @Html.DropDownList("SelectedAttendant", (SelectList)@ViewBag.Attendants, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="BaseFare" class="control-label"></label>
                <input asp-for="BaseFare" class="form-control" />
                <span asp-validation-for="BaseFare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

}