@{
    ViewData["Title"] = "Seed";
}

@section imageContent
{
    <a asp-controller="Seed" asp-action="SeedCities" class="btn btn-info">Seed Cities</a>
    <a asp-controller="Seed" asp-action="SeedRoles" class="btn btn-info">Seed Roles</a>
    <a asp-controller="Seed" asp-action="SeedCustomers" class="btn btn-info">Seed Customers</a>
    <a asp-controller="Seed" asp-action="SeedEmployees" class="btn btn-info">Seed Employees</a>
}
@section pageContent{ }