.masthead {
    height: 95vh;
    min-height: 500px;
    background-image: url('airport-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.background-card {
    background-color: rgba(245, 245, 245, 1);
    opacity: 1;
    min-height: 80vh;
}
